body {
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
    color: rgb(40, 40, 40);
    margin: 0;
}

h1 {
    font-size: 3rem;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

ul {
    max-width: 1000px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

li {
    margin: 16px 0;
}

a:visited {
    color: #74638f;
}

#main {
    margin: 30px 10px;
    padding: 15px;
    border-radius: 5px;
    background: rgb(150, 150, 150)
}

#img-div {
    background: rgb(200, 200, 200);
    padding: 10px;
    margin: 0;
}

#img-caption {
    margin: 10px 0;
}

#headline {
    margin: 50px 0;
}